<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<% if(cu=='c'){ %>
<form action="/review/create_process" method="post">
    <input type = "hidden" name="title_id" value="<%=id%>"/>
    <div class="mb-3">
        <label class="form-label" for="author">작성자</label> 
        <input class="form-control" type="text" name="author" style = "width:300px;" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="score">별점</label> 
        <input class="form-control" type="text" name="score" style="width:300px;" />
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="descrpt">내용</label> 
        <input class="form-control" type="text" name="descrpt" style="width:300px;" />
    </div>
    <button class="btn btn-outline-primary btn-sm" type="submit">입력하기</button>

</form>
<% }
else if(cu=='u'){ %>
    <form action="/review/update_process" method="post">
        <input type = "hidden" name="id" value="<%=rid%>"/>
        <input type = "hidden" name="title_id" value="<%=id%>"/>
        <div class="mb-3">
            <label class="form-label" for="author">작성자</label> 
            <input class="form-control" type="text" name="author" value="<%=review[0].author%>" style = "width:300px;" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="score">별점</label> 
            <input class="form-control" type="text" name="score"  value="<%=review[0].score%>" style="width:300px;" />
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="descrpt">내용</label> 
            <input class="form-control" type="text" name="descrpt"  value="<%=review[0].descrpt%>" style="width:300px;" />
        </div>
        <button class="btn btn-outline-primary btn-sm" type="submit">입력하기</button>
    
    </form>
    <% } %>



</body>
</html>